<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">nadia</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/comestiblesCorrea?useSSL=false&amp;serverTimezone=Europe/Madrid</property>
  <property name="hibernate.connection.username">correa</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <mapping class="com.jacaranda.model.User"/>
  <mapping class="com.jacaranda.model.Element"/>
  <mapping class="com.jacaranda.model.Category"/>
  <mapping class="com.jacaranda.model.Sale"/>
 </session-factory>
</hibernate-configuration>
